.login-body {
    background: #f3faff url("background-light.svg") no-repeat center top;
    background-size: cover;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-panel {
    width: 360px;
    padding: 2rem;
    background: white;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    text-align: center;
}

.sub-header {
    font-size: 14px;
    margin-bottom: 20px;
    color: #666;
}

.input-full {
    width: 100%;
    margin-bottom: 1rem;
}

.login-btn {
    width: 100%;
    background-color: #007bff;
    border: none;
    margin-top: 1rem;
}

.register-btn {
    width: 100%;
    margin-top: 1rem;
    border: 1px solid #007bff;
    background-color: white;
    color: #007bff;
}

.forgot-password {
    text-align: right;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 1rem;
}

.or-divider {
    margin-top: 1rem;
    color: #aaa;
    font-size: 12px;
}
